.pack-price{
    display: inline;
}
.overall-container{
    padding: 1em;
}
li{
  list-style: none;
  text-align: left;
  padding: 0.6em;
}
.muted-text{
    color: grey;
}
.button{
    width: 100%;
    height: 4.5em;
    text-align: center !important;
    font-size: 0.85em !important;
    opacity: 0.7;
}

.card-container:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.card-container:hover .button{
    opacity: 1;
}

.pack-price{
    color: black;
}